{% extends "./base.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <img src="{% static 'image/weather-rain.png' %}" class="image" style="width:100px; margin-bottom:10px; ">
        <h1 class="h1 fw-bold">Bar Station</h1>
      </div>
    </div>
  </section>


  <!-- menu -->
  <div class="album py-5 bg-light">
  <div class="container mt-3">
    <div class="d-flex justify-content-center">
      <h1>Coffee Shop Menu</h1>
    </div>
    <hr>
    {% for c in categories %}
    <div class="d-flex justify-content-center" style="margin-bottom: 15px; margin-top: 15px;">
      <h2>{{ c.name|title }}</h2>
    </div>
      {% for product in c.product.all %}
      <div class="row g-0 d-flex justify-content-center">
          <div class="card mb-3" style="max-width: 50%;">
            <div class="img-fluid">
              {% if product.image %}
              <img class="card-img-top" alt="image" style="width: 100%;" src="{{ product.image.url }}">
              {% endif %}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title" style="text-align: right;">{{ product.title }}</h5>
                <p class="card-text" style="text-align: left;">{{ product.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <hr>
    {% endfor %}
  </div>
</div>

<!-- menu test -->



</main>

{% endblock %}
