{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <title>{% block title %}Bar station{% endblock %}</title>
</head>

<body>

    <!-- Header -->
    <header>
        <div class="card">
            <div class="info-text">
                <img src="{% static 'image/logo.png' %}">  
                <h1>cafe shop</h1>
                <h3>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد</h3>
                <a href="#category" class="scroll"><button>دیدن منو</button></a>
                <a class="social-icon" href="https://www.instagram.com/barstation.cafe?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class='bx bxl-instagram'></i></a>
            </div>
        </div>
    </header>
    <!-- category -->
    <section id="category">
        <div class="header">
            <h1>Category</h1>
        </div>
        <div class="category-cards">
            {% for c in categories %}
            <div class="card">
                <div class="info">
                    {% if c.image %}
                    <img src="{{ c.image.url }}">
                    {% endif %}
                    <a href="{{ c.get_absolute_url }}">
                        <h1>{{ c.name|title }}</h1>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
</body>

</html>