{% extends "./base.html" %}
{% load static %}
{% block title %}Menu{% endblock %}
{% block content %}

<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="h1 fw-bold">SALAM</h1>
        <p class="lead text-muted">salam dobare</p>
      </div>
    </div>
  </section>


  <!-- menu -->
  <div class="album py-5 bg-light">
  <div class="container mt-3">
    <h1>Coffee Shop Menu</h1>
    <hr>
    {% for c in categories %}
      <h2>{{ c.name|title }}</h2>
      {% for product in c.product.all %}
      <div class="row g-0">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="col-md-4">
              {% if product.image %}
              <img class="img-fluid" alt="Responsive image" src="{{ product.image.url }}">
              {% endif %}
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.price }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <hr>
    {% endfor %}
  </div>
</div>

<!-- menu test -->



</main>

{% endblock %}
